
body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1 > small, h2 > small, h3 > small {
  color: #777;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.navbar {
  width: 100%;
  font-size: 1.5em;
  background-color: #eee;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

.navbar > a, .navbar > a:visited {
  color: inherit;
  color: #33c;
}

@media (max-width: 600px) {
  .navbar {
    font-size: 1.25em;
    padding: 1em 0.5em;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #444;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }

  h1 > small, h2 > small, h3 > small {
    color: #aaa;
  }

  .navbar {
    background-color: #555;
  }

  .navbar > a, .navbar > a:visited {
    color: inherit;
    color: #5bf;
  }
}